!!! 5
%html(lang="en-US")
  %body
    %p
      This email was sent because a request was made for the password on this account to be reset.
      If you did not make this request you can ignore this email.

    %p
      Click the link below to reset your password.
      = link_to "Reset Password Link", edit_password_reset_url(@user.reset_token, email: @user.email)
